
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/reciperoom.css">
    <link href="https://fonts.googleapis.com/css?family=Fredoka+One&display=swap" rel="stylesheet">
    <title>Rooms</title>
</head>
<nav>
<ul><a href="/">Home</a></ul>
<ul><a href="/rooms/new">Add New Recipe</a></ul> 
</nav>
<body>
    <H1>Recipe Room</H1>
    <main>
        <% rooms.forEach(room => { %>
            <p>
                <a href="/rooms/<%= room._id %>">
                    <%= room.title %>
                </a> 
                <form action="/rooms/<%= room._id %>?_method=DELETE" method="POST"> 
                    <button>delete</button>
                </form>
            </p>
        <% }) %>
    </main>
</body>
</html>