<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/style.css">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Fredoka+One&display=swap" rel="stylesheet">
  <!-- Compiled and minified CSS -->


 
  
</head> 
<body>
  <nav>
  
     
     
    <ul class="">
      <ul><a href="/">Home</a></ul>
      <% if (user) {%>
      <ul><a href="/rooms/">Recipe Room</a></ul> 
    
      <ul><a href="/rooms/new">Add New Recipe</a></ul> 
      <% } %>
      <!-- Place Login UI Here -->
<ul>
<% if (user){ %>
   <a href="/logout"><i class="material-icons left"></i>Log Out</a>
   <h2>Hey Foodie, get your Yum on!</h2>    
      <% } else {%>
      <a href="/auth/google"><i class="material-icons left"></i>Login with Google</a>
   
  <% } %>
           </ul>    

</nav>
  <main>
    
    <h1>Foodzies</h1>
    <h3>Where foodies make friends</h3>


   
</main>
</body>
</html>