<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/style.css">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Fredoka+One&display=swap" rel="stylesheet">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
          
 
  
</head> 
<body>
  <nav>
  
    <ul class="">
      <li><a href="/">Home</a></li>
      <% if (user) {%>
      <li><a href="/rooms/">Recipe Room</a></li> 
    
      <li><a href="/rooms/new">Add New Recipe</a></li> 
      <% } %>
      <!-- Place Login UI Here -->
<li>
<% if (user){ %>
   <a href="/logout"><i class="material-icons left"></i>Log Out</a>
   <h2>Hey Foodie !</h2>    
      <% } else {%>
      <a href="/auth/google"><i class="material-icons left"></i>Login with Google</a>
   
  <% } %>
           </li>    

</nav>
  <main>
    
    <h1 >Foodzies</h1>
    <h3>Where foodies make friends</h3>


   
</main>
</body>
</html>