<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/style.css">
  <!DOCTYPE html>
  <html>
  
  <head>
    
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Baloo&display=swap" rel="stylesheet">
    <!-- Materialize Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Materialize CSS Framework -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/css/style.css" />
    <!-- JavaScript for Materialize -->
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </head>
  
  <body>
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper orange">
          <a href="" class="brand-logo center">FOODZIES</a>
          
          <ul class="left">
            <li><a href="/">Home</a></li>
            <% if (user) {%>
            <li><a href="/rooms/">Recipe Room</a></li> 
          
            <li><a href="/rooms/new">Add New Recipe</a></li> 
            <% } %>
            <!-- Place Login UI Here -->
      
   
                
                      <li>
                     <% if (user){ %>
                          <a href="/logout"><i class="material-icons left">trending_flat</i>Log Out</a>
                          <h2>YEP</h2>
                          <% } else {%>
                          <a href="/auth/google"><i class="material-icons left">vpn_key</i>Login with Google</a>
                          <h2>NOPE</h2>
                         <% } %>
                      </li>    


  <title>Foodzies</title>
</head>
<body>
 
  <p>Welcome Food Lover!</p>
  <p> The App Where you can share your love for food with friends</p>

</html>