* {
    background-color: pink;
background-image: url('https://i.imgur.com/53oOXYt.jpg');
background-repeat: repeat;
background-attachment: fixed;
background-size: cover; 
}
nav{
 
   
   
}

main {
    width:400px, cover;
    border: 15px solid pink;
    padding: 200px;
    margin: 80px;
    background: radial-gradient(rgb(247, 98, 192), lavender);

    font-size: 25px;
    opacity: 0.7;
}

p {
    background: none;
}
form{
    background:none;
}
a{
    background:none;
    font-display: block;
}