*{ 
   
background: #ee9feb;
background-image: url('https://images.squarespace-cdn.com/content/v1/537f850de4b0abc663a60810/1523408023816-VEZXYIMYQVECSPFBXQ9Q/ke17ZwdGBToddI8pDm48kIytc2WTkzxvvYXYDlQZ9R17gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1USk4GCMsEKK7CiRgqqFg5STsm-rn8GsW5BJATp59SKW4cvWGtaRzboHuOEoEkPd93Q/Time_120617_Chapter_5_20_Popcorn_0456.jpg?format=500w');
background-repeat: repeat;
background-attachment: fixed;
background-size: cover; 



}


nav{
  background-color: rgba(122, 79, 125, 0.701);


   
   
}




main{

    width:400px, cover;
    border: 15px solid pink;
    padding: 150px;
    margin: 100px;
    background: radial-gradient(thistle, lavender);
    
    font-size: 20px;
    opacity: 0.7;
}

ul{
    display: flex;
    flex-direction: row; /* default */
   
    height: 30px;
    text-align: center;  
    font-size: 10px;
 
   

}
a {
    color: rgb(8, 7, 8);
    font-size: 20px;  
    font-family: 'Fredoka One', cursive;   
    padding: 20px;
    background-color: thistle;
    display: inline-block;
    padding: 14px 25px;
}

  
  
 


h2 {
    font-family: 'Fredoka One', cursive;
    font-size: 25px;
    color: rgba(28, 7, 14, 0.714);
}
h3{
    background:none;
    font-family: 'Fredoka One', cursive;
    text-align: center;  
}

h1{
    background: none;
    font-family: 'Fredoka One', cursive;
    text-align: center;  
    font-size: 70px;
}
p{
    background: none;
}
form{
    background: none;
}
